######################################################################
#
# COMMON.SHLIB -- The Common Configuration File
#
######################################################################


######################################################################
# Files and Directories
######################################################################

#Homedir=       # Home directory of this app (unnecessary to set normally)
Dir_tmp="$Homedir/TMP"


######################################################################
# Configurations For Sites
######################################################################

# === For board.cs.tuat.ac.jp ========================================
readonly CS_id='<your id>'
readonly CS_pw='<your passwd>'
