######################################################################
#
# COMMON.SHLIB -- The Common Configuration File
#
######################################################################


######################################################################
# Files and Directories
######################################################################

#Homedir=       # Home directory of this app (unnecessary to set normally)
Dir_tmp="$Homedir/TMP"
Dir_dat="$Homedir/DATA"
Dir_log="$Homedir/LOG"


######################################################################
# Configurations For Sites
######################################################################

# === For board.cs.tuat.ac.jp ========================================
readonly CS_id='<your id>'
readonly CS_pw='<your passwd>'

# === For t-board.office.tuat.ac.jp =================================
readonly CAMPUS='<T|A>' # 小金井キャンパスなら'T'、府中キャンパスなら'A'


######################################################################
# 連絡に関する設定
######################################################################

PATH="$Homedir/TOOL/kotoriotoko/BIN:$PATH" # Path to kotoriotoko
